.thai {
	font-size:1.5rem;
}
.english {
	font-size:1rem;
}
sentence {
	display:block;
	border-bottom: 1px solid gray;
}
line {
	display:block;
}
story[author] line, story[hint] line {
	border:1px solid gray;
}
word {
}
speaker {
	margin-right: .5rem;
}
story[author] word, story[hint] word {
	margin-right: .5rem;
	cursor:pointer;
}
story[author] word[error] {
	color:red;
	cursor:pointer;
}
story[author] word[newvocab] {
	color:green;
}
story[author] word[multimean] {
	color:cyan;
	cursor:pointer;
}
sylcont {
	position:relative;
	margin-right: .5rem;
}
sylspc {
	opacity:0.0;
}
syllable {
	position:absolute;
}
syllable[tone=M] {
	color:blue;
}
syllable[tone=H] {
	transform: translate(0,-.5rem);
	color:blue;
}
syllable[tone=M] {
	color:green;
}
syllable[tone=L] {
	transform: translate(0,.5rem);
	color:brown;
}
syllable[tone=R] {
	transform: rotate(-30deg);
	color:red;
}
syllable[tone=F] {
	transform: rotate(30deg);
	color:orange;
}
button[a] {
	margin-right:.3rem;
}
button[line] {
	border-radius:10px;
}
story line[hint] word t, story line[hint] word e, story line[hint] word tl  {
	display:none;
}
story line[hint="0"] word t {
	display:inline;
}
story line[hint="1"] word e {
	display:inline;
}
story line[hint="2"] word tl {
	display:inline;
}
div#details i {
	font-size:10pt;
}
div#details icon[name=pencil] {
	float:right;
}
button[mm].chosen {
	font-weight:bold:
}
