#headergear {
	width:1.1em;
}
#headeruser {
	display:none;
}
#svctable {
	margin:0 1em;
	border:collapse;
	border-spacing:0;
}
#svctable  td{
	vertical-align:top;
	border-bottom:1px solid gray;
	padding:.2em;
}
#svctable  tr:last-child td{
	border-bottom:0;
}
#svctable  td:last-child {
	font-family:initial;
}
#settings-dialog  table {
	margin:0 1em;
}
#settings-dialog td:last-child {
	max-width:4cm;
}
.headshot {
	float:right;
	height:140px;
}
.headshot_drawing {
	float:right;
	height:90px;
	padding:25px 25px;
}
footer {
	height:2px;
	position:fixed;
	bottom:0px;
}

#curriculum table,th,td {
	border:1px solid black;
}
#curriculum td.section {
	font-weight:bold;
	background-color:lightgray;
	padding-left:.5rem
}
#curriculum td.course {
	padding-left:1rem;
}
#curriculum td:nth-of-type(2) {
	color:black;
	background-color:white;
}
#curriculum td:nth-of-type(3) {
	color:black;
	background-color:yellow;
}
#curriculum td:nth-of-type(4) {
	color:black;
	background-color:orange;
}
#curriculum td:nth-of-type(5) {
	color:black;
	background-color:green;
}
#curriculum td:nth-of-type(6) {
	color:white;
	background-color:blue;
}
#curriculum td:nth-of-type(7) {
	color:white;
	background-color:purple;
}
#curriculum td:nth-of-type(8) {
	color:white;
	background-color:red;
}
#curriculum td:nth-of-type(9) {
	color:white;
	background-color:brown;
}
#curriculum td:nth-of-type(10) {
	color:white;
	background-color:black;
}

.panel { border-width:3px; }
.panel.wh { border-color:rgb(   0,  0,  0); background-color:rgb(250,250,252); }
.panel.wh h3 { color:rgb(  0,  0,  0); background-color:rgb(255,255,255); border:0; }
.panel.ye { border-color:rgb( 255,255,  0); background-color:rgb(250,250,252); }
.panel.ye h3 { color:rgb(  0,  0,  0); background-color:rgb(255,255,  0); border:0; }
.panel.or { border-color:rgb( 255,127,  0); background-color:rgb(250,250,252); }
.panel.or h3 { color:rgb(  0,  0,  0); background-color:rgb(255,127,  0); border:0; }
.panel.gr { border-color:rgb(   0,255,  0); background-color:rgb(250,250,252); }
.panel.gr h3 { color:rgb(  0,  0,  0); background-color:rgb(  0,255,  0); border:0; }
.panel.bl { border-color:rgb(   0,  0,255); background-color:rgb(250,250,252); }
.panel.bl h3 { color:rgb(255,255,255); background-color:rgb(  0,  0,255); border:0; }
.panel.pu { border-color:rgb( 127,  0,255); background-color:rgb(250,250,252); }
.panel.pu h3 { color:rgb(255,255,255); background-color:rgb(127,  0,255); border:0; }
.panel.re { border-color:rgb( 255,  0,  0); background-color:rgb(250,250,252); }
.panel.re h3 { color:rgb(255,255,255); background-color:rgb(255,  0,  0); border:0; }
.panel.br { border-color:rgb( 128, 64,  0); background-color:rgb(250,250,252); }
.panel.br h3 { color:rgb(255,255,255); background-color:rgb(128, 64,  0); border:0; }
.panel.bk { border-color:rgb(   0,  0,  0); background-color:rgb(250,250,252); }
.panel.bk h3 { color:rgb(255,255,255); background-color:rgb(  0,  0,  0); border:0; }
